
form {
    display: grid;
    justify-content: center;
}


input[type="text"] {
    border-radius: 5px;
    outline: none;
    padding: 5px;
    text-align: center;
    margin: 10px;
    
  }
  
  input[type="email"] {
    border-radius: 5px;
    outline: none;
    padding: 5px;
    text-align: center;
    margin: 10px;
  
  }

  .addUser{
    outline: none;
    padding: 5px;
    width:max-content;
  border-radius: 10px;
  transform: 0.5s;
  }

  .addUser:hover{
    background-color: tomato;
    color: white;
  }


 @media all and (max-width:480px){
   .left{
     width:300px;
     padding: 20px;

   }
 }
