.userData{
    margin-bottom: 50px;
}

table{
    /* border: 1px solid white; */
    width: 700px;
    min-width: 300px;
    color: white;
}

table,tr, td{
    border: 1px solid white;
    text-align: center;

}

table tr {
    border: 1px solid white;

}

.edit_btn,.del_btn{
    margin: 2px 5px 2px 5px;
    padding: 2px 5px 2px 5px;
    outline: none;
    border-radius: 2px;
}

.edit_btn,.del_btn{
    background-color: teal;
    transition: all;
    color: white;
}